<%= form_with(model: @search, method: :get, class: 'article-search-form', role: 'form' ) do |form| %>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>
  
  <%= render :partial => 'shared/form/industries_and_occupations_for_search', :locals => {:form => form} %>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>