  <div class="field">
    <%= f.label :password %>
    <% if is_edit %>
      <i>（パスワードを更新しない場合は空けておいてください）</i><br />
    <% else %>
      <br />
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% if is_edit %>
    <div class="field">
      <%= f.label :current_password %> <i>（更新には現在のパスワードが必要です）</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
    
    <% if model == "Person" %>
      <div class="field">
        <%= f.label :is_student %><br />
        <%= f.check_box 'is_student', {}, true, false %>
        内定者の方はチェックを入れてください
      </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  
  <% else %>
    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>