<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @career.person_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @career.company_name %>
</p>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
