<h2>OB/OG登録フォーム</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render :partial => 'devise_shared/form', :locals => {:f => f, :model => "Person", :is_edit => false} %>

<% end %>

<%= render "people/shared/links" %>

<%= link_to '就活生の方はこちら', new_user_registration_path %>

