<div class="field">
  <%= f.label :industry %>
  <% @industries.each do |industry| %>
    <label>
      <%= check_box_tag 'industry_ids[]', industry.id, false, :id => "industry_#{industry.id}" %>
      <%= industry.name %>
    </label>
  <% end %>
</div>

<div class="field">
  <%= f.label :occupation %>
  <% @occupations.each do |occupation| %>
    <label>
      <%= check_box_tag 'occupation_ids[]', occupation.id, false, :id => "occupation_#{occupation.id}" %>
      <%= occupation.name %>
    </label>
  <% end %>
</div>