<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '111840212859372',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <header>
    <nav>
      <%= link_to 'TOP', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'マイページ', users_manage_path(current_user.id) %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% elsif person_signed_in? %>
        <%= link_to 'マイページ', people_manage_path(current_person.id) %>
        <%= link_to 'ログアウト', destroy_person_session_path, method: :delete %>
      <% else %>
        <%= link_to '登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </nav>
  </header>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
