<h2>就活生登録フォーム</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= render :partial => 'devise_shared/form', :locals => {:f => f, :model => "User", :is_edit => false} %>
  
<% end %>

<%= render "users/shared/links" %>

<%= link_to 'OB/OGの方はこちら', new_person_registration_path %>
